body {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: darkslategray;
}

.headerElement {
  margin: 1em;
  
}

#createGrid {
  width: 100%;
  padding: 1em;
}